[project]
	description = Simple Scala project template
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pakkio
[access "refs/for/refs/*"]
	read = group user/pakkio
	push = group user/pakkio
	label-Code-Review = -2..+2 group user/pakkio
	label-Verified = -1..+1 group user/pakkio
	rebase = group user/pakkio
	removeReviewer = group user/pakkio
	submit = group user/pakkio
[access "refs/heads/*"]
	read = group user/pakkio
	create = group user/pakkio
	push = +force group user/pakkio
	pushMerge = group user/pakkio
[access "refs/tags/*"]
	push = +force group user/pakkio
	pushTag = group user/pakkio
	pushSignedTag = group user/pakkio
